.cabecalho{
  background-color: #0A2A0A;
  opacity: .8;
  font-family: var(--font-pequena) ;
  font-size: 18px ;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: .8rem;
  width: 100%;
  z-index: 999;


}

.cabecalho__icones{
  align-items: center;
  text-align: center;
}

.cabecalho-link:hover{
  background-color: var(--branco);
  color: #0A2A0A;
  padding: .5rem;
  border-radius: 5px;
  font-weight: bolder;
 
}


.icones__cabecalho{
  display: flex;

}


.cabecalho-link{
  padding-left: 2rem;
  text-decoration: none;
  color: var(--cinza-medio);
  font-weight: 700 bold;
}

.cabecalho__icones-mobile{
  display: none;
}

@media screen and (max-width: 768px) {


}

@media screen and (max-width: 450px) {

  .cabecalho__icones{
    display: none;
  } 

  .cabecalho {
    font-family: var(--font-pequena);
    font-size: 18px;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0; /* Posiciona o cabeçalho na parte inferior */
    width: 100%;
    z-index: 999;
    background-color: var(--cinza-medio);
    opacity: 0.8;
    
  }

  .cabecalho__icones-mobile{
    display: flex;
    flex-direction: row;
   
  }

  .icones__cabecalho-mobile{
    display: flex;
    flex-direction: row;
    
  }

  .icone__mobile{
    width: 35px;
    margin: 0 1rem;  
  }

  .icone__mobile:hover{
    padding: 0.3rem;
   
  }
 
}