

.conteudo__titulo{
    text-align: center;
    padding-top: 2rem;
    font-size: 25px; 
    font-weight: 700;
    text-transform: uppercase;


}

.conteudo__conteudo{
    display: grid;
    grid-template-columns: auto auto;
    margin: 1rem;


}

.conteudo__texto{
    margin: 1rem 2rem;
    text-align: justify;
}

.conteudo__video {
    width: 400px;   
    height: 600px;  
    position: relative;
    margin-right: 1rem;
    transition: 0.5s ease-in-out;
    position: relative;
    overflow: hidden; 
    margin-left: 5rem;

 }
  
  .conteudo__video video {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
  }
  