.conteudo__titulo {
    text-align: center;
    padding-top: 2rem;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.conteudo__conteudo {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem; /* Added gap for spacing between grid items */
    margin: 1rem;
}

.conteudo__texto {
    margin: 2rem;
    text-align: justify;
}

.conteudo__video {
    width: 100%;
    height: auto;
    position: relative;
    margin: 2rem; /* Adjusted margin for consistency */
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.conteudo__video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {

    .conteudo__conteudo {
        display: grid;
        grid-template-columns: auto ;
        justify-content: center;
        align-items: center;
        
        
    }

    .conteudo__video {
        padding-right: 4rem;

    }
    

    
   

    



}