@import url(./reset.css);
@import url(./cabecalho.css);
@import url(./projetos.css);
@import url(./rodape.css);
@import url(./contato.css);
@import url(./conteudo.css);
@import url(./home.css);




:root {
    --fundo-principal: #F5F5F5;
    --branco: #ffffff;
    --preto: #000000;
    --cinza: #D9D9D9;
    --cinza-escuro: #333333;
    --cinza-medio: #BDBDBD;
    --fonte-principal: "Playfair";
    --fonte-secundaria: "Nunito";
    --font-pequena: "Roboto";

}

body{
    background-color: var(--cinza-escuro);
}

/* Formatação Parallax*/

    
    body, html {margin: 0; font: 16px "lato", sans-serif;
    color: #777; height: 100%;}
    
    p {margin-bottom: 20px;}
    
    
    .titulo__paralax {
        color: #fff; 
        background-color: #111;
        border-radius: 1rem;
        opacity: 0.9;
        padding: 18px; 
        font-size: 25px; 
        letter-spacing: 5px;
        text-transform: uppercase;
        position: absolute; 
        left: 45%;
        top: 45%;  
        text-align: center;
    }
    
    /* Efeito Parallax*/
    
    .home, .galeria , .sobre, .caixa4 { height: 100%; 
    opacity: 0.7; background: no-repeat; background-size: cover ;
    background-position: center; background-attachment: fixed;
    position: relative;}
    
    .home{
        background-image: url(../img/PARALLAX1.png);

    }
    .galeria{
    background-image: url(../img/PARALLAX2.png);

    }
    
    .sobre{
    background-image: url(../img/PARALLAX3.png);
    }


    @media screen and (max-width: 450px) {
    
        .titulo__paralax {
           
            left: 30%;
            top: 45%;  
        }

    }