@import url(./reset.css);
@import url(./cabecalho.css);
@import url(./projetos.css);
@import url(./rodape.css);
@import url(./contato.css);
@import url(./conteudo.css);
@import url(./home.css);




:root {
    --fundo-principal: #F5F5F5;
    --branco: #ffffff;
    --preto: #000000;
    --cinza: #D9D9D9;
    --cinza-escuro: #333333;
    --cinza-medio: #BDBDBD;
    --fonte-principal: "Playfair";
    --fonte-secundaria: "Nunito";
    --font-pequena: "Roboto";

}

body{
    background-color: var(--cinza-escuro);
}

/* Formatação Parallax*/

    body, html {
        margin: 0; 
        font: 16px var(--fonte-principal);
        color: var(--branco); 
        height: 100%;
    }
    
    
    .titulo__paralax {
        font-family: var(--fonte-principal);
        font-weight: 700;
        position: absolute; 
        left: 0%;
        top: 45%; 
        width: 100%; 
        text-align: center;
    }
    
    .titulo__paralax, h2 {
        color: var(--branco); 
        background-color: var(--preto);
        border-radius: 1rem;
        padding: 1rem;
        margin-left: 35%; 
        font-size: 25px; 
        letter-spacing: 0.5rem;
        opacity: 0.5;
        text-transform: uppercase;
        position: relative;
        width: 30%; 
    
    
}
   
    /* Efeito Parallax*/
    
    .home, .galeira, .sobre{ 
    height: 100%; 
    background: no-repeat; 
    background-size: 100% ;
    background-position: center; 
    background-attachment: fixed;
    position: relative;}
    
    
    .home{
        background-image: url(../img/nizar-zulmi-_W6PB-JIO5o-unsplash.jpg);

    }
    .galeira{
    background-image: url(../img/christian-wiediger-gVbOF8mdE3U-unsplash.jpg);

    }
    
    .sobre{
    background-image: url(../img/tianxian-la8JaniL6kg-unsplash.jpg);
    }


    