.home__sobre{
    background-color: #0A2A0A;
}

.home__titulo{
    text-align: center;
    padding:  2rem 0;
    font-size: 25px; 
    font-weight: 700;
    text-transform: uppercase;


}

.home__conteudo{
    display: grid;
    grid-template-columns: auto auto;


}

.home__texto{
    margin: 10rem 2rem 10rem 7rem;
    text-align: justify;
    
    
}


.carousel__slide img {
    display: block;
    flex: 1 1 auto;
    object-fit: contain; /* Change this to your desired object-fit value */
    max-width: 70%; /* Adjust this as needed */
    height: 100%;
    border-radius: 2rem;
    margin-left: 7rem;
}
.carousel__thumbnails img {
    display: block;
    width: 80%;
    height: 80%;
    margin: 0.5rem;
    object-fit: contain; /* Change this to your desired object-fit value */
    border-radius: 1rem;
}


      
    &:before {
      display: block;
      grid-template-columns: auto auto;
      content: "";
      width: 100%;
    }
      
    > img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
    }
  
    
  section {
      background: #F4F4F4;
      padding: 50px 0;
  }
  
  .container {
      width: auto;
      margin: 0 auto;
     
  }
  
  .carousel {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
      align-items: center;
       
      > input {
          clip: rect(1px, 1px, 1px, 1px);
          clip-path: inset(50%);
          height: 1px;
          width: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          
          
          &:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -300%; }
          &:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -200%; }
          &:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -100%; }
          &:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: 0%; }
          
          &:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) { box-shadow: 0px 0px 0px 5px #0B6138; border-radius: 1rem;}
          &:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) { box-shadow: 0px 0px 0px 5px #0B6138; border-radius: 1rem;}
          &:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) { box-shadow: 0px 0px 0px 5px #0B6138; border-radius: 1rem;}
          &:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) { box-shadow: 0px 0px 0px 5px #0B6138; border-radius: 1rem;}
      }
  
    }
  .carousel__slides {
      position: relative;
      z-index: 1;
      padding: 0;
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      box-sizing: border-box;
      display: flex;
  }
  
  .carousel__slide {
      position: relative;
      display: block;
      flex: 1 0 100%;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: all 300ms ease-out;
      vertical-align: top;
      box-sizing: border-box;
      white-space: normal;
      
      figure {
          display: flex;
          margin: 0;
      }
      
      div {
          @include aspect-ratio(3, 2);
          width: 100%;
      }
      
      img {
          display: block;
          flex: 1 1 auto;
          object-fit: cover;
      }
      
      figcaption {
          align-self: flex-end;
          padding: 20px 20px 0 20px;
          flex: 0 0 auto;
          width: 25%;
          min-width: 150px;
      }
      
      .credit {
          margin-top: 1rem;
          color: rgba(0, 0, 0, 0.5);
          display: block;        
      }
      
      &.scrollable {
          overflow-y: scroll;
      }
  }
  
  .carousel__thumbnails {
      list-style: none;
      padding:0 1rem;
      display: flex;
      flex-direction: column;
      width: 8rem;
      justify-content: center;
      align-items: center;
      margin: 0 ;
      
    
      li {        
          flex: 1 1 auto;
          max-width: calc((100% / 6) - 20px);  
          margin: 0 10px;
          transition: all 300ms ease-in-out;
      }
      
      label {
          display: block;
          
                    
          &:hover,
          &:focus {
              cursor: pointer;
              
              img {
                  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.25);
                  transition: all 300ms ease-in-out;
                 
              }
          }
      }
      
      img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 2rem;
          
        
      }
  }



@media screen and (max-width: 768px) {

    .home__titulo{
        padding:  1rem;
    
    
    }

    
.home__texto{
    text-align: justify;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 0;
    
}

    .home__conteudo{
        display: flex;
        flex-direction: column;        
        justify-content: center;
        align-items: center;
    
    
    }

    .carousel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 0;

    }

    .carousel__thumbnails {
        list-style: none;
        padding:0 ;
        display: flex;
        flex-direction: row;
        width: 20rem;
        justify-content: center;
        align-items: center;
   
}
.carousel__slide img {
    display: block;
    flex: 1 1 auto;
    object-fit: contain;
    max-width: 70%;
    height: 100%;
    border-radius: 2rem;
    margin-left: 2.5rem;
}

.carousel__thumbnails img {
    display: block;
    width: 60%;
    height: 80%;
    margin: 0.5rem;
    border-radius: 1rem;
}

&:hover,
&:focus {
    cursor: pointer;
    
    img {
        box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.25);
        transition: all 300ms ease-in-out;
       
    }
}
}




