.projetos {
  background-color: #0A2A0A;
  position: relative;
  overflow: hidden;
}

.container {
  padding-top: 2rem;
}

.gallery__img {
  width: 100%;
  border-radius: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery__img:hover {
  box-shadow: 1px 3px 15px #7645d8;
  transform: translateY(-10px);

}

.container__galeria {
  column-count: 3;
}

.detalhes {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay.active {
  display: flex;
}

.overlay img {
  border-radius: 1rem;
}

.overlay .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1001;
}

@media screen and (max-width: 768px) {
  .container__galeria {
    column-count: 2;
  }
}