
.container{
  padding-top: 2rem;
}

.gallery__img{
  width: 100%;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.container__galeria{
  column-count: 3;

}

.detalhes{
  display: none;
}

.gallery__img{
  &:hover {
    flex: 0 0 250px;
    box-shadow: 1px 3px 15px #7645d8;
    border-radius: 1rem;
    transform: translatey(-30px);
  }
  
  &:hover .gallery {
    opacity: 1;
    transform: translatey(0%);
    visibility: visible;
  }
}

.gallery:target{
  position: fixed;
  width: 40%;
  top: 15%;
  left: 30%;
}


.gallery:target .detalhes{
  display: block;
  text-align: center;

}

.link__galeria{
  text-decoration: none;
}

@media screen and (max-width: 450px) {

  .container__galeria{
    column-count: 2;
  
  }

  .gallery:target{
    position: fixed;
    width: 80%;
    top: 15%;
    left: 10%;
  }

}